header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: var(--white);
}

header .container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header span#cabecalho_hamburguer {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('/assets/img/Menu.svg');
}

/* Menu Hamburguer */

header ul#lista__menu {
    position: absolute;
    top: 100%;
    display: none;
}

.container__botao:checked ~ #lista__menu {
    display: block;
}

#menu__item,
.lista-menu {
    padding: 1em;
    background: var(--white);
}